/env
/__pycache__
/.coverage
/purbeurre_project/__pycache__
/purbeurre_project/settings/__pycache__
/purbeurre_project/settings/production.py
/homepage/__pycache__
/homepage/management/__pycache__
/homepage/management/commands/__pycache__
/homepage/migrations/__pycache__
