{%extends 'homepage/base.html'%}

{%block content%}
{%include 'homepage/cover.html' with title='Mentions légales'%}

<section class="page-section ">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h2> Editeur </h2>
            <p> Grégoire Duponchel</p>
            <p>La Madeleine</p>

            <br>
            <hr>
            <br>

          <h2> Hébergeur </h2>
            <p>Heroku Inc.</p>
            <p> 650 7th St, San Francisco, CA 94103, États-Unis </p>
            <p> +1 866-278-1349 </p>

            <br>
            <hr>
            <br>

          <h2> Ressources libres </h2>
          <p>
            Ce site utilise un thème bootstrap consultable <a href="https://blackrockdigital.github.io/startbootstrap-creative/">ici</a>
          </p>
          <p> Le <a href="https://thenounproject.com/term/carrot/29691/"> logo </a> a été designé par Fabien Jouin  </p>
          <p>La <a href="https://unsplash.com/photos/eqsEZNCm4-c"> photo orignale </a> de couverture par ici !</p>

      </div>

    </div>

  </div>
</section>

{%endblock%}
